
.navbar-nav{
  margin-left: 20%;
}
.nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    display:inline-block;
}
 .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background:  rgba(253, 60, 41, 0.8);
    transition: 0.3s;
    bottom: 0;
}
 .nav-item .nav-link.active::after,
 .nav-item .nav-link:hover::after {
    width: 100%;
}
.nav-link:hover{
    text-decoration: none;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.glightbox{
  text-decoration: none;
}

body{
    font-family: var(--font-default);
    color: var(--color-default);
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFF;
}
.fonteeee{
    font-size: 30px;
    font-weight: bold;
}


a{
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    color: #ec2727;
}

li{
    list-style-type: none;
    color: black;
}
section{
    overflow: hidden;
    padding: 80px 0;
}
.family{
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}
.section-bg {
    background-color: #eee;
}  

.breadcrumbs {
    padding: 15px 0;
    background: rgba(55, 55, 63, 0.05);
    margin-top: 90px;
  }
  
  @media (max-width: 575px) {
    .breadcrumbs {
      margin-top: 70px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #676775;
    content: "/";
  }
  
  @media (max-width: 992px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs h2 {
      margin-bottom: 10px;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .scroll-top:hover {
    background: #ec2727;
    color: #fff;
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
 
  #preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    position: absolute;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  #preloader:after {
    animation-delay: -0.5s;
  }
  
  @keyframes animate-preloader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }
  
  .why-us .why-box {
    padding: 30px;
    background: var(--color-primary);
    color: #fff;
  }
  
  .why-us .why-box h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .why-us .why-box p {
    margin-bottom: 30px;
  }
  
  .why-us .why-box .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .why-us .why-box .more-btn i {
    font-size: 14px;
  }
  
  .why-us .why-box .more-btn:hover {
    color: var(--color-primary);
    background: #fff;
  }
  
  .why-us .icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(55, 55, 63, 0.1);
    transition: 0.3s;
  }
  
  .why-us .icon-box i {
    color: var(--color-primary);
    margin-bottom: 30px;
    font-size: 32px;
    margin-bottom: 30px;
    background: rgba(206, 18, 18, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
  
  .why-us .icon-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-family: var(--font-secondary);
  }
  
  .why-us .icon-box p {
    font-size: 15px;
    color: #6c757d;
  }
  
  @media (min-width: 1200px) {
    .why-us .icon-box:hover {
      transform: scale(1.1);
    }
  }
  
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
@media (max-width:500px){
    #nav{
        align-items: end;
        justify-content: end;
    }

}
@media (min-width:501px) and (max-width:800px){
   #nav{
    align-items: end;
    justify-content: end;
   }
}
.stats-counter {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/stats-bg.jpg") center center;
    background-size: cover;
    padding: 100px 0;
  }
  
  @media (min-width: 1365px) {
    .stats-counter {
      background-attachment: fixed;
    }
  }
  
  .stats-counter .stats-item {
    padding: 30px;
    width: 100%;
  }
  
  .stats-counter .stats-item span {
    font-size: 48px;
    display: block;
    color: #fff;
    font-weight: 700;
  }
  
  .stats-counter .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
  }
  .menu .nav-tabs {
    border: 0;
  }
  
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    color: var(--color-secondary);
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #b6b6bf;
  }

  
  @media (max-width: 575px) {
    .menu .nav-link {
      margin: 0 10px;
      padding: 10px 0;
    }
  }
  
  .menu .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-secondary);
  }
  
  @media (max-width: 575px) {
    .menu .nav-link h4 {
      font-size: 16px;
    }
  }
  
  .menu .nav-link:hover {
    color: var(--color-primary);
  }
  
  .menu .nav-link.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  
  .menu .tab-content .tab-header {
    padding: 30px 0;
  }
  
  .menu .tab-content .tab-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: #676775;
    margin-bottom: 0;
  }
  
  .menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .menu .tab-content .menu-item {
    -moz-text-align-last: center;
    text-align-last: center;
  }
  
  .menu .tab-content .menu-item .menu-img {
    padding: 0 60px;
    margin-bottom: 15px;
  }
  
  .menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 30px;
    margin-bottom: 5px;
  }
  
  .menu .tab-content .menu-item .ingredients {
    font-family: var(--font-secondary);
    color: #8d8d9b;
    margin-bottom: 5px;
  }
  
  .testimonials .section-header {
    margin-bottom: 40px;
  }
  
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  
  .testimonials .testimonial-item .testimonial-content {
    border-left: 3px solid var(--color-primary);
    padding-left: 30px;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--color-default);
    font-family: var(--font-secondary);
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 10px 0;
    font-family: var(--font-secondary);
  }
  
  .testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: #f05656;
    font-size: 26px;
    line-height: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
  }
  
  .testimonials .swiper-pagination {
    margin-top: 40px;
    position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d1d7;
    opacity: 1;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
.image-slide{
	justify-content: space-around;
	padding-top: 5px;
}
.st-slider{
    background-color: #eee;
}

#homepage-slider input{
    display: none;
}
.labels{
	display: flex;
	justify-content: space-around;
}


@media screen and (max-width:700px) {
	.temoignagess1{
		display: none;
	}
	.temoignagess{
		width: 20rem;
		height: 17rem;
	}
}

.img-test{
    width: 40%;
}
@media screen and (max-width:800px) {
    .center-test{
        text-align: center;
    }
    .img-test{
        width: 90%;
    }
    .pad{
        padding: 0 !important;
        ;
    }
    .marg{
        margin: 0 !important;
        padding-left: 10px !important;
    }
    
}

.image {
	width: 100%;
  }
  .images {
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;

	height: px;
  }
  .images-inner {
	width: 500%;
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
  .image-slide {
	width: 20%;
	float: left;

  }
  .image-slide,
  .fake-radio,
  .radio-btn {
	transition: all 0.5s ease-out;
  }
  .fake-radio {
	float: right;
  }
  
    #slide1:checked ~ .images .images-inner {
	margin-left: 0;
  }
  #slide2:checked ~ .images .images-inner {
	margin-left: -100%;
  }
  #slide3:checked ~ .images .images-inner {
	margin-left: -200%;
  }
  
  #slide4:checked ~ .images .images-inner {
	margin-left: -300%;
  }
  
    #slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
  #slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
  #slide3:checked ~ div .fake-radio .radio-btn:nth-child(3), 
  #slide4:checked ~ div .fake-radio .radio-btn:nth-child(4) {
	background: red;
	
  }
  .radio-btn {
	width: 9px;
	height: 9px;
	border-radius: 5px;
	background: gray;
	display: inline-block !important;
	margin: 0 1px;
	cursor: pointer;
  }
    #slide1:checked ~ .labels .label:nth-child(1),
  #slide2:checked ~ .labels .label:nth-child(2),
  #slide3:checked ~ .labels .label:nth-child(3) {
	opacity: 1;
  }
  
  .label {
	opacity: 0;
	position: absolute;
  }
    @keyframes bullet {
	0%, 33.32333333333334%	{
	  background: rgb(23, 7, 251);
	}
	33.333333333333336%, 100% {
	  background: gray;
	}
  }
  
  
  #play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
	animation: bullet 12300ms infinite -1000ms;
  }
  
  #play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
	animation: bullet 12300ms infinite 3100ms;	
  }
  
  #play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
	animation: bullet 12300ms infinite 7200ms;	
  }

  
  @keyframes slide {
	0%, 25.203252032520325%	{ margin-left: 0; }
	33.333333333333336%, 58.53658536585366%	{ margin-left: -100%; }
	66.66666666666667%, 91.869918699187%	{ margin-left: -200%; }
  }
  
  
  .st-slider > #play1:checked ~ .images .images-inner {
	animation: slide 12300ms infinite;	
  }
    @keyframes caption {
	0%, 33.32333333333334%	{
	  opacity: 1;
	}
	33.333333333333336%, 100% {
	  opacity: 0;
	}
  }
  
  
  #play1:checked ~ .labels .label:nth-child(1) {
	animation: caption 12300ms infinite -1000ms;
  }
  
  #play1:checked ~ .labels .label:nth-child(2) {
	animation: caption 12300ms infinite 3100ms;	
  }
  
  #play1:checked ~ .labels .label:nth-child(3) {
	animation: caption 12300ms infinite 7200ms;	
  }

  @media (max-width: 575px) {
    .events .event-item {
      min-height: 500px;
    }
  }
  
  .events .event-item:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
  }
  
  .events .event-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
    position: relative;
  }
  
  .events .event-item .price {
    color: #fff;
    border-bottom: 2px solid var(--color-primary);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
  }
  
  .events .event-item .description {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
  }
  
  @media (min-width: 1200px) {
    .events .swiper-slide-active+.swiper-slide {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      z-index: 1;
    }
  }
  
  .events .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .events .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #d1d1d7;
    opacity: 1;
  }
  
  .events .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  .chefs .chef-member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
  }
  

  .chefs .chef-member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
  }
  
  .chefs .chef-member:hover .social {
    right: 8px;
    opacity: 1;
  }
    
  @media (max-width: 575px) {
    .book-a-table .php-email-form {
      padding: 20px;
    }
  }
  
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  


/*  fin party hamydou */
.centrer{
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}
.fon{
    font-size: 50px;
    font-weight: bold;
}
.rouge{
    color: #ce1212;
}
.image{
    background-image: url(images/events-3.jpg);
    background-size: cover;
    object-fit: cover;
    height: 400px;
    position: relative;
    opacity: 1;
}
.image2{
    background-image: url(images/events-1.jpg);
    background-size: cover;
    object-fit: cover;
    height: 400px;
    position: relative;
    opacity: 1;
}
.image3{
    background-image: url(images/events-2.jpg);
    background-size: cover;
    object-fit: cover;
    height: 400px;
    position: relative;
    opacity: 1;
}
.position{
    position: absolute;
    top: 13rem;
    color: white;
    font-weight: bold;
}
/* tablee */
.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: #ce1212;
    border: none;
    color: #eeeeee;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover {
    background-color: #dd3e3e;
    border-color: gray;
    color: white;
}

/* about */
.backr{
  background-image: url(images/about.jpg);
  position: relative;
}
.paragraphe{
  position: absolute;
  width: 94%;
  top: 30rem;
}
a{
  text-decoration: none;
}
.ul-check li{

  list-style-type: none;
  
}
li::before{
  content: "";
}

#absolute-table{
  background-color: #fff;
  position: absolute;
  width: 80%;
  text-align: center;
  padding: 10px;
  bottom: 35px;
  left: 10%;
}

.green{
  background: red;
}
.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 43%;
  left: 45%;
}

.pulse {
  animation: pulse-animation 2s infinite;
}
.marge2{
  margin-left: 20px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(203, 11, 11, 0.8);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 8, 8, 0);
  }
}
/*  */
@media screen and (max-width:999px) {
  .marge{
      margin: 0 !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
  }
  .marge2{
      margin-left: 0px !important;
  }
  .whu{
      margin: 0 !important ;
      width: 100% !important;
  }
  .pwhu{
      padding: 0 !important;
  }
}

#whi{
  background-color: #eee !important;
  height: auto;
  padding-bottom: 8px !important;
  
}
.cal:hover{
  transform: scale(1.1) !important;
  transition: 0.6s;
}

/* galery */
.section-header {
    text-align: center;
    padding-bottom: 30px;
}


/* chefsss */

.chefs .chef-member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}
.chefs .chef-member .social i {
  font-size: 18px;
}


.chefs .chef-member .social a {
    transition: color 0.3s;
    color: rgba(55, 55, 63, 0.4);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}
.chef{
    background-color: #eeeeee;
}
.section-bg{
    background-color: #eee;
}

.chefs .chef-member .member-img {
    position: relative;
    overflow: hidden;
}
.chefs .chef-member .member-info {
    padding: 10px 15px 20px 15px;
}
.chefs .chef-member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
}
.chefs .chef-member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(wave1.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}
/* contact */
.contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 19px;
    line-height: 0;
    color: #fff;
    background: #ce1212;
    border-radius: 50%;
    margin-right: 15px;
}
.contact .info-item{
    font-size: 15px;
}
iframe{
    height: 300px;
}


/* footerr  */
.footer {
    font-size: 14px;
    background-color: #1f1f24;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
.footer .credits a {
    color: #fff;
}
.scroll.active {
    visibility: visible;
    opacity: 1;
}
.scroll {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #ce1212;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}
.scroll i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}


